.hero-text {
   position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin-top: 110px; /* Adjust as needed */

}

.hero{
  /* width: 100%;
  height: 100%; */
  position: relative;
}

img{
   width: 100%;
   height: 100vh;
  object-fit: cover;
    object-position: top;

}

.hero-text{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

}

.hero-text h1{
  font-size: 3rem;
  font-weight: 800;
  background: #003C43;
  /* color: #7A9D54; */
   /* color: #cbaa50; */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.hero-text p{
  font-size: 1.3rem;
 color: #003C43;
   /* color: #cbaa50; */
   padding: 0.5rem 0 2rem 0;
     font-weight: 600;

}

.hero-text .show{
  text-decoration: none;
  background: #003C43;
  padding: 1rem 2rem;
  /* border-radius: 6px; */
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Hero.css */
.link-button {
  background-color: #003C43;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: #004D56;
}



  .hero-text h1{
    font-size: 2rem;
  }
  
  .hero-text p{
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }

  .hero-text .show{
  padding: 0.6rem 1.1rem;
  /* border-radius: 6px; */
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (min-width: 375px) and (max-width: 376px){
  img {
    height: 70vh; 
  }

  .hero-text {
    margin-top: -50px; /* Adjust margin to ensure proper positioning */
    transform: translate(-50%, -50%);
    
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
}


@media screen and (min-width: 414px) and (max-width: 415px){
  img {
    height: 50vh; 
  }

  .hero-text {
    margin-top: -180px; /* Adjust margin to ensure proper positioning */
    transform: translate(-50%, -50%);
    
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
}


@media screen and (min-width: 390px) and (max-width: 391px){
  img {
    height: 50vh; 
  }

  .hero-text {
    margin-top: -180px; /* Adjust margin to ensure proper positioning */
    transform: translate(-50%, -50%);
    
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
}


@media screen and (min-width: 430px) and (max-width: 431px){
  img {
    height: 50vh; 
  }

  .hero-text {
    margin-top: -180px; /* Adjust margin to ensure proper positioning */
    transform: translate(-50%, -50%);
    
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 412px) and (max-width: 413px){
  img {
    height: 50vh; 
  }

  .hero-text {
    margin-top: -200px; /* Adjust margin to ensure proper positioning */
    transform: translate(-50%, -50%);
    
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 360px) and (max-width: 361px){
  img {
    height: 50vh; 
  }

  .hero-text {
    margin-top: -150px; /* Adjust margin to ensure proper positioning */
    transform: translate(-50%, -50%);
    
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
}

/* iPhone XR */
@media screen and (width: 414px) {
  img {
    height: 50vh; /* Adjust height for specific small screen */
  }

  
  .hero-text {
    top: 60%; /* Adjust text position for smaller screen */
    left: 50%;
    margin-top: 140px;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: 0; 
  }

.hero-text h1{
  font-size: 2rem;
  margin-top: 0;
  padding: 10px 20px;
  }
  
}

@media screen and (min-width: 540px) and (max-width: 541px){
  img {
    height: 54vh; 
  }

  .hero-text {
    margin-top: -140px; /* Adjust margin to ensure proper positioning */
    transform: translate(-50%, -50%);
    
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 853px) and (max-width: 854px){
  img {
    height: 40vh; 
  }

  .hero-text {
    margin-top: -380px; /* Adjust margin to ensure proper positioning */
    transform: translate(-50%, -50%);
    
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
}


@media screen  and(width: 770px)  {

.hero-text h1{
    margin-top: 270px;
    padding: 10px 20px;
  }


}



@media screen and (width: 375px) {
  img {
    height: 40vh; /* Adjust height for specific small screen */
  }

  
  .hero-text {
    top: 60%; /* Adjust text position for smaller screen */
    left: 50%;
    margin-top: -140px;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: 0; 
  }

.hero-text h1{
  font-size: 2rem;
  margin-top: 0;
  padding: 10px 20px;
  }
}

@media screen and (width: 1280px) {
  .hero-text h1{
    margin-top: 100px;
    padding: 10px 20px;
  }
}



@media screen and (width: 768px)  {
   img {
    height: 50vh; /* Adjust height for specific small screen */
  }
   .hero-text {
    margin-top: -200px;
    padding: 10px 20px;
  }
}


@media screen and (width: 820px){
  img {
    height: 50vh; /* Adjust height for specific small screen */
  }
   .hero-text {
    margin-top: -200px;
    padding: 10px 20px;
  }
}


@media screen and (width: 1024px) {
  img {
    height: 100vh; /* Adjust height for specific small screen */
  }
   .hero-text {
    margin-top: 100px;
    padding: 10px 20px;
  }
}

/* @media screen and (width: 1024px) and (height:600px){
  img {
    height: 100vh; 
  }
  .hero-text {
    margin-top: -380px;
    padding: 10px 20px;
  }
} */
@media screen and (width: 912px){
  img {
    height: 40vh; /* Adjust height for specific small screen */
  }
   .hero-text {
    margin-top: -380px;
    padding: 10px 20px;
  }
}


@media screen and (width: 853px){
  img {
    height: 40vh; /* Adjust height for specific small screen */
  }
   .hero-text {
    margin-top: -180px;
    padding: 10px 20px;
  }
}